<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>404 | Not Found</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: ui-sans-serif, system-ui, Segoe UI, Roboto, Inter, Helvetica, Arial;
            background: #05090e;
            color: #acacac;
        }

        .msg {
            font-size: clamp(12px, 3vw, 20px);
            letter-spacing: .3px
        }
    </style>
</head>

<body>
    <div class="msg">404 | Not Found</div>
</body>

</html>